<% 
  var picture = _.template(require('../components/picture.html').default)
%>

<dialog class="dialog dialog-lg relative py-10 md:py-14 px-4 sm:px-6 md:px-10">
  <div class="absolute inset-0">
    <div class="pack bg-black h-full">
      <%= picture({src: 'img/pictures/politics-bg', format: '.png', webp: true, classes: 'image', data: false, loading: 'eager'}) %>
    </div>
  </div>
  <div class="relative">
    <h2 class="font-alt font-normal sm:uppercase text-28 sm:text-38 xl:text-48 mb-7 md:mb-10 xl:mb-14">Cоглашение на обработку персональных данных</h2>
    <p class="font-normal text-14 md:text-16 leading-5 mb-5">
      Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
    </p>
    <p class="font-normal text-14 md:text-16 leading-5 mb-5">
      Все лица заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями, подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
    </p>
    <p class="font-normal text-14 md:text-16 leading-5 mb-5">
      Под персональными данными Гражданина понимается нижеуказанная информация: Общая информация (Имя, номер телефона и адрес электронной почты); посетители сайта направляют свои персональные данные для получения телефонного звонка или сообщения электронной почты от специалиста компании-исполнителя (владельца сайта) с целью заказа консультации относительно услуг компании-исполнителя.
    </p>
    <p class="font-normal text-14 md:text-16 leading-5 mb-5">
      Гражданин, принимая настоящее Соглашение, выражает свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
    </p>
    <p class="font-normal text-14 md:text-16 leading-5">
      Гражданин гарантирует: информация, им предоставленная, не нарушает действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданином в отношении себя лично.
    </p>
  </div>
</dialog>