<% if (data.status) { %>
<!-- Подвал -->

<footer class="container flex flex-col sm:flex-row sm:flex-wrap xl:flex-nowrap sm:items-center sm:justify-between gap-7 bg-black py-3">
  <div class="flex items-center gap-4 sm:gap-7">
    <a class="btn w-24" data-waved="light" href="/">
      <%= picture({src: 'img/pictures/logo-gold', format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
    </a>
    <p class="font-normal text-18 leading-2">Геленджик Гольф Резорт</p>
  </div>
  <div class="flex flex-col items-start">
    <span class="font-normal text-14 leading-1 mb-1">
      <b>ИНН</b> 7706549902
    </span>
    <span class="font-normal text-14 leading-1">
      <b>ОГРН</b> 1047796657116
    </span>
  </div>
  <div class="flex flex-col items-start">
    <span class="font-normal text-14 leading-1 mb-1">г. Геленджик, Стартовая, 1</span>
    <a class="btn btn-white text-14" data-waved="light" href="tel: +7 (928) 203-42-00">+7 (928) 203-42-00</a>
  </div>
  <div class="flex flex-col items-start">
    <span class="font-normal text-14 leading-1 mb-1">Разработка сайта:</span>
    <a class="btn btn-white normal-case text-14" data-waved="light" href="https://stdkit.ru/" target="_blank">Студия К.И.Т.</a>
  </div>
</footer>

</div>

<% } %>

</body>

</html>