<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body>

  <!-- Прелоадер -->

  <div class="flex flex-col items-center justify-center fixed z-10 inset-0 bg-black duration-5" data-preloader>
    <%= preloader %>
  </div>

  <!-- Шапка документа -->

  <header class="container flex items-center justify-between gap-5 fixed z-3 top-0 left-0 right-0 bg-opacity-50 py-2 md:py-4 duration-3" data-header>
    <div class="hidden lg:block font-normal text-24 leading-2">г. Геленджик, Стартовая, 1</div>
    <a class="btn w-24 md:w-40" data-header-logo data-waved="light" href="/">
      <%= picture({src: 'img/pictures/logo-white', format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
    </a>
    <div class="flex flex-col items-start">
      <a class="btn btn-white text-18 md:text-24" data-waved="light" href="tel: +7 (928) 203-42-00">+7 (928) 203-42-00</a>
      <a class="btn btn-primary text-primary-dark text-14 md:text-18 border-b border-dashed border-primary-dark border-opacity-40" data-waved="light" href="" target="_blank">задать вопрос</a>
    </div>
  </header>

  <!-- Плавная прокрутка -->

  <div id="smooth-scroll" data-smooth-speed="4">