<%
  var data = {
    title: 'Русские забавы',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon({id: 'loader'})})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon, picture}) %>

<!-- Главный блок -->

<main class="main container flex items-end sm:items-center relative overflow-hidden min-h-[700px] lg:min-h-screen pt-40" data-smooth-wrapper>
  <div class="main__bg absolute inset-0">
    <div class="pack bg-gray w-full h-full" data-smooth-layer="bottom" data-smooth-speed="4" data-smooth-depth="2">
      <%= loader %>
      <%= picture({src: 'img/pictures/main-bg', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
    </div>
  </div>
  <div class="relative w-full max-w-[550px]">
    <h3 class="font-normal text-18 sm:text-20 xl:text-28 leading-3 mb-2 ease-linear duration-10 clip-path clip-path-up" data-anim="hidden">Русские забавы</h3>
    <h1 class="font-alt font-medium uppercase text-30 sm:text-40 xl:text-50 leading-3 mb-5 sm:mb-7 xl:mb-11 ease-linear duration-10 clip-path clip-path-up" data-anim="hidden">
      Новогодний Гала- Ужин <span class="text-primary">в Геленджик Гольф Резорт</span>
    </h1>
    <p class="font-normal text-14 sm:text-16 mb-5 sm:mb-7 xl:mb-12 ease-linear duration-10 clip-path clip-path-up" data-anim="hidden">
      Встречай Новый 2024 год в эстетичной атмосфер <br>
      Геленджик Гольф Резорт
    </p>
    <p class="font-normal text-primary text-26 sm:text-34 xl:text-46 leading-3 mb-5 sm:mb-7 xl:mb-12 ease-linear duration-10 clip-path clip-path-up" data-anim="hidden">31 декабря 21:00</p>
    <button class="btn btn-primary btn-lg btn-fill btn-gradient w-full xs:w-auto" data-waved="dark">Забронировать место</button>
  </div>
</main>

<!-- Программа -->

<% var programm = [
  {
    icon: 'sofa',
    text: 'Welcome зона'
  },
  {
    icon: 'chef',
    text: 'Праздничное меню от Шеф-повара'
  },
  {
    icon: 'wineglass',
    text: 'Алкогольные напитки'
  },
  {
    icon: 'microphone',
    text: 'Ведущий и DJ'
  },
  {
    icon: 'vinyl',
    text: 'Кавер-группа'
  },
  {
    icon: 'stars',
    text: 'Фейерверк'
  },
  {
    icon: 'masks',
    text: 'Шоу-программа'
  },
  {
    icon: 'album',
    text: 'Фото и видеосъемка'
  },
  {
    icon: 'cloud',
    text: 'Дед Мороз и Снегурочка'
  },
  {
    icon: 'rabbit',
    text: 'Детская праздничная программа'
  },
  {
    icon: 'gift',
    text: 'Розыгрыш подарков'
  }
] %>

<section class="container relative">
  <div class="absolute inset-0"></div>
  <div class="relative">
    <h2 class="font-alt font-normal uppercase text-center text-28 sm:text-38 xl:text-48 mb-14">Программа гала-ужина “Русские забавы”</h2>
    <div class="flex justify-between gap-5">
      <div class="relative bg-gray w-full max-w-[480px] p-4">
        <div class="absolute inset-0">
          <div class="pack bg-gray w-full h-full" data-smooth-layer="bottom" data-smooth-speed="4" data-smooth-depth="2">
            <%= loader %>
            <%= picture({src: 'img/pictures/programm-bg', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
          </div>
        </div>
        <div class="relative border border-primary border-solid border-opacity-20 h-full p-6">
          <ul class="flex flex-col gap-5">
            <% _.forEach((programm), (item) => { %>
            <li class="flex items-center">
              <span class="text-primary-dark text-32 mr-3">
                <%= icon({id: item.icon}) %>
              </span>
              <span class="font-normal text-18 leading-2"><%= item.text %></span>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= footer({loader, picture}) %>